{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
        "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["warn", "single"],
    "no-console": "warn",
    "indent": ["error", 2, { "SwitchCase": 1 }]
  },
    "ignorePatterns": ["**/*.html"]
}

